/* Reset and base styles */
/* ===================== */
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, 
footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom font */
/* ============ */
@font-face {
	font-family: norseBold;
	src: url(assets/Norse-Bold.otf);
}

/* General styles */
/* =============== */
body {
	display: flex;
	font-family: 'Times New Roman', Times, serif;
}

/* Header styles */
/* ============== */
header {
	position: relative;
	width: 40%;
}

.header-title {
	position: absolute;
	top: 20%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px 0;
}

.header-title h1 {
	font-size: 7rem;
	color: white;
	font-family: norseBold, serif;
	letter-spacing: 1.5rem;
}

#logo {
	width: 20%;
	height: auto;
	display: inline;
}

header img {
	width: 100%;
	height: 100vh;
}

/* Main content styles */
/* =================== */
main {
	width: 60%;
	background-color: #C8AE7D;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Description section styles */
/* ========================== */
.description {
	padding: 0 50px 50px 50px;
	margin-bottom: 50px;
	font-size: 1.5rem;
}

.description > p {
	font-family: 'Times New Roman', Times, serif;
	margin-bottom: 30px;
}

/* Form and Input styles */
/* ==================== */
.form-container {
	padding: 20px 150px 30px 50px;
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #EAC696;
}

.fieldset-container {
	display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 20px; 
    width: 100%; 
    border-radius: 5px;
}

/* Button styles */
/* ============== */
button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #65451F;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 180px;
}


button:hover {
	background-color: #6C4A3F;
	transform: scale(1.1);
}

/* Additional styles */
/* ================= */
main > p {
	padding-left: 50px;
}

legend {
	font-size: 1.5rem;
	margin-bottom: 30px;
}

a {
	text-decoration: none;
	color: green;
}

input {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

label {
	margin-bottom: 5px;
}

input:focus {
	border: 1px solid lightblue;
	box-shadow: 0 0 1px 1px lightblue;
}
